{% extends "registro/base.html" %}
{% block titulo %}Bitacora{% endblock %}
{% block cuerpo %}
<h1>Bitácora de Eventos</h1>

<br />

<table border="1px" id="examplee" class="display" cellspacing="0px" style="width:100%;">
  <thead>
    <tr>
      <th>Acción</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Acción</th>
      <th>Fecha</th>
    </tr>
  </tfoot>
  <tbody>
  {% for x in object_list %}
  <tr>
    <td>{{ x.accion }}</td>
    <td>{{ x.fecha }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
