{% extends "base/base.html" %}
{% block titulo %}Registrar Planilla{% endblock %}
{% block cuerpo %}
<h1>Registrar Planilla</h1>

<br />


<form method="post">{% csrf_token %}
  <!-- Row
  ================================================== -->
  <div class="row">
    
    <!-- Left Column
    ================================================== -->
    <div class="col-sm-6">

      <div class="well well-form">
        <b>{{ form.campo0.label }}</b>
        <br />
        {{ form.campo0 }}
      </div>

      <div class="well well-form">
        <b>{{ form.campo1.label }}</b>
        <br />
        {{ form.campo1 }}
      </div>

    </div><!-- End Left Column -->

    <!-- Right Column
    ================================================== -->
    <div class="col-sm-6">

      <div class="well well-form">
        <b>{{ form.campo3.label }}</b>
        <br />
        {{ form.campo3 }}
      </div>

      <div class="well well-form">
        <b>{{ form.campo2.label }}</b>
        <br />
        {{ form.campo2 }}
      </div>

      <div class="well well-form well-form-fecha">
        <b>{{ form.fecha.label }}</b>
        <br />
        {{ form.fecha }}
      </div>

    </div><!-- End Right Column -->

  </div><!-- End Row -->

  <hr />

  <h2>Notas Finales</h2>
  <table border="1px" id="example" class="display" cellspacing="0px" style="width:100%;">
    <thead>
      <tr>
        <th>N</th>
        <th>Nombre del Alumno</th>
        <th>Cédula de Identidad</th>
        <th>Nota Final</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>{{ form.nombre_alumno1 }}</td>
        <td>{{ form.cedula_alumno1 }}</td>
        <td>{{ form.nota_alumno1 }}</td>
      </tr>
      <tr>
        <td>2</td>
        <td>{{ form.nombre_alumno2 }}</td>
        <td>{{ form.cedula_alumno2 }}</td>
        <td>{{ form.nota_alumno2 }}</td>
      </tr>
      <tr>
        <td>3</td>
        <td>{{ form.nombre_alumno3 }}</td>
        <td>{{ form.cedula_alumno3 }}</td>
        <td>{{ form.nota_alumno3 }}</td>
      </tr>
      <tr>
        <td>4</td>
        <td>{{ form.nombre_alumno4 }}</td>
        <td>{{ form.cedula_alumno4 }}</td>
        <td>{{ form.nota_alumno4 }}</td>
      </tr>
      <tr>
        <td>5</td>
        <td>{{ form.nombre_alumno5 }}</td>
        <td>{{ form.cedula_alumno5 }}</td>
        <td>{{ form.nota_alumno5 }}</td>
      </tr>
      <tr>
        <td>6</td>
        <td>{{ form.nombre_alumno6 }}</td>
        <td>{{ form.cedula_alumno6 }}</td>
        <td>{{ form.nota_alumno6 }}</td>
      </tr>
      <tr>
        <td>7</td>
        <td>{{ form.nombre_alumno7 }}</td>
        <td>{{ form.cedula_alumno7 }}</td>
        <td>{{ form.nota_alumno7 }}</td>
      </tr>
      <tr>
        <td>8</td>
        <td>{{ form.nombre_alumno8 }}</td>
        <td>{{ form.cedula_alumno8 }}</td>
        <td>{{ form.nota_alumno8 }}</td>
      </tr>
      <tr>
        <td>9</td>
        <td>{{ form.nombre_alumno9 }}</td>
        <td>{{ form.cedula_alumno9 }}</td>
        <td>{{ form.nota_alumno9 }}</td>
      </tr>
      <tr>
        <td>10</td>
        <td>{{ form.nombre_alumno10 }}</td>
        <td>{{ form.cedula_alumno10 }}</td>
        <td>{{ form.nota_alumno10 }}</td>
      </tr>
      <tr>
        <td>11</td>
        <td>{{ form.nombre_alumno11 }}</td>
        <td>{{ form.cedula_alumno11 }}</td>
        <td>{{ form.nota_alumno11 }}</td>
      </tr>
      <tr>
        <td>12</td>
        <td>{{ form.nombre_alumno12 }}</td>
        <td>{{ form.cedula_alumno12 }}</td>
        <td>{{ form.nota_alumno12 }}</td>
      </tr>
      <tr>
        <td>13</td>
        <td>{{ form.nombre_alumno13 }}</td>
        <td>{{ form.cedula_alumno13 }}</td>
        <td>{{ form.nota_alumno13 }}</td>
      </tr>
      <tr>
        <td>14</td>
        <td>{{ form.nombre_alumno14 }}</td>
        <td>{{ form.cedula_alumno14 }}</td>
        <td>{{ form.nota_alumno14 }}</td>
      </tr>
      <tr>
        <td>15</td>
        <td>{{ form.nombre_alumno15 }}</td>
        <td>{{ form.cedula_alumno15 }}</td>
        <td>{{ form.nota_alumno15 }}</td>
      </tr>
      <tr>
        <td>16</td>
        <td>{{ form.nombre_alumno16 }}</td>
        <td>{{ form.cedula_alumno16 }}</td>
        <td>{{ form.nota_alumno16 }}</td>
      </tr>
      <tr>
        <td>17</td>
        <td>{{ form.nombre_alumno17 }}</td>
        <td>{{ form.cedula_alumno17 }}</td>
        <td>{{ form.nota_alumno17 }}</td>
      </tr>
      <tr>
        <td>18</td>
        <td>{{ form.nombre_alumno18 }}</td>
        <td>{{ form.cedula_alumno18 }}</td>
        <td>{{ form.nota_alumno18 }}</td>
      </tr>
      <tr>
        <td>19</td>
        <td>{{ form.nombre_alumno19 }}</td>
        <td>{{ form.cedula_alumno19 }}</td>
        <td>{{ form.nota_alumno19 }}</td>
      </tr>
      <tr>
        <td>20</td>
        <td>{{ form.nombre_alumno20 }}</td>
        <td>{{ form.cedula_alumno20 }}</td>
        <td>{{ form.nota_alumno20 }}</td>
      </tr>
      <tr>
        <td>21</td>
        <td>{{ form.nombre_alumno21 }}</td>
        <td>{{ form.cedula_alumno21 }}</td>
        <td>{{ form.nota_alumno21 }}</td>
      </tr>
      <tr>
        <td>22</td>
        <td>{{ form.nombre_alumno22 }}</td>
        <td>{{ form.cedula_alumno22 }}</td>
        <td>{{ form.nota_alumno22 }}</td>
      </tr>
      <tr>
        <td>23</td>
        <td>{{ form.nombre_alumno23 }}</td>
        <td>{{ form.cedula_alumno23 }}</td>
        <td>{{ form.nota_alumno23 }}</td>
      </tr>
      <tr>
        <td>24</td>
        <td>{{ form.nombre_alumno24 }}</td>
        <td>{{ form.cedula_alumno24 }}</td>
        <td>{{ form.nota_alumno24 }}</td>
      </tr>
      <tr>
        <td>25</td>
        <td>{{ form.nombre_alumno25 }}</td>
        <td>{{ form.cedula_alumno25 }}</td>
        <td>{{ form.nota_alumno25 }}</td>
      </tr>
      <tr>
        <td>26</td>
        <td>{{ form.nombre_alumno26 }}</td>
        <td>{{ form.cedula_alumno26 }}</td>
        <td>{{ form.nota_alumno26 }}</td>
      </tr>
      <tr>
        <td>27</td>
        <td>{{ form.nombre_alumno27 }}</td>
        <td>{{ form.cedula_alumno27 }}</td>
        <td>{{ form.nota_alumno27 }}</td>
      </tr>
      <tr>
        <td>28</td>
        <td>{{ form.nombre_alumno28 }}</td>
        <td>{{ form.cedula_alumno28 }}</td>
        <td>{{ form.nota_alumno28 }}</td>
      </tr>
      <tr>
        <td>29</td>
        <td>{{ form.nombre_alumno29 }}</td>
        <td>{{ form.cedula_alumno29 }}</td>
        <td>{{ form.nota_alumno29 }}</td>
      </tr>
      <tr>
        <td>30</td>
        <td>{{ form.nombre_alumno30 }}</td>
        <td>{{ form.cedula_alumno30 }}</td>
        <td>{{ form.nota_alumno30 }}</td>
      </tr>
      <tr>
        <td>31</td>
        <td>{{ form.nombre_alumno31 }}</td>
        <td>{{ form.cedula_alumno31 }}</td>
        <td>{{ form.nota_alumno31 }}</td>
      </tr>
      <tr>
        <td>32</td>
        <td>{{ form.nombre_alumno32 }}</td>
        <td>{{ form.cedula_alumno32 }}</td>
        <td>{{ form.nota_alumno32 }}</td>
      </tr>
      <tr>
        <td>33</td>
        <td>{{ form.nombre_alumno33 }}</td>
        <td>{{ form.cedula_alumno33 }}</td>
        <td>{{ form.nota_alumno33 }}</td>
      </tr>
      <tr>
        <td>34</td>
        <td>{{ form.nombre_alumno34 }}</td>
        <td>{{ form.cedula_alumno34 }}</td>
        <td>{{ form.nota_alumno34 }}</td>
      </tr>
      <tr>
        <td>35</td>
        <td>{{ form.nombre_alumno35 }}</td>
        <td>{{ form.cedula_alumno35 }}</td>
        <td>{{ form.nota_alumno35 }}</td>
      </tr>
      <tr>
        <td>36</td>
        <td>{{ form.nombre_alumno36 }}</td>
        <td>{{ form.cedula_alumno36 }}</td>
        <td>{{ form.nota_alumno36 }}</td>
      </tr>
      <tr>
        <td>37</td>
        <td>{{ form.nombre_alumno37 }}</td>
        <td>{{ form.cedula_alumno37 }}</td>
        <td>{{ form.nota_alumno37 }}</td>
      </tr>
      <tr>
        <td>38</td>
        <td>{{ form.nombre_alumno38 }}</td>
        <td>{{ form.cedula_alumno38 }}</td>
        <td>{{ form.nota_alumno38 }}</td>
      </tr>
      <tr>
        <td>39</td>
        <td>{{ form.nombre_alumno39 }}</td>
        <td>{{ form.cedula_alumno39 }}</td>
        <td>{{ form.nota_alumno39 }}</td>
      </tr>
      <tr>
        <td>40</td>
        <td>{{ form.nombre_alumno40 }}</td>
        <td>{{ form.cedula_alumno40 }}</td>
        <td>{{ form.nota_alumno40 }}</td>
      </tr>
    </tbody>
  </table>

  <br/>

  <a href="/"><button type="button" class="btn btn-primary">Volver</button></a>
  <button class="btn btn-info" type="reset">Limpiar</button>
  <button class="btn btn-success" type="submit">Registrar</button>
</form>

{% endblock %}
